---
import MainLayout from "../layouts/main-layout.astro"
const counter = 0
// this is always going to stay zero there is no way to increment or decrement it 
---

<MainLayout title="Chad" >
<a href="/about">Go to About</a>
</MainLayout>


<script>
	// if you want to increment or decrement any dynamic content you can add dynamic content here 
	let counter=0 
</script>